.tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #FBDA6C;
    transition: .2s;

}

.hovered-second {
  background-color: rgb(219, 192, 101);  
}

.project-tab h2 {
    font-size: 21px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-top: 2px;
}

.project-tab h2.underline {
    border-bottom: 2px solid black;
}

.header {
    height: 80px;
    background-color: rgb(241, 240, 230);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    padding: 0px 10px 0 10px;
    margin: 2px 10px 0 15px;
    font-size: 28px;
}

.header h1:hover {
    user-select: none;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 14px;
}

.info h3 {
    margin: 0 5px 0 5px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
    justify-content: right;
}

.toolbar h2 {
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: black;
    padding-top: 2px;
    margin-right: 14px;
    font-size: 18px;
    transition: .2s;
}

.toolbar h2:hover {
    user-select: none;
    cursor: pointer;
    border-bottom: 2px solid black;
}

.fab {
    color: black;
    font-size: 20px;
    height: 20px;
    width: 34px;
}

.project-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.project-tab:hover {
    cursor: pointer;
    user-select: none;
}

#first {
    background-color: #EF7352;
    height: 100%;
    width: 33%;
    -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

#first:hover {
    background-color: rgb(218, 108, 74);
}

#second {
    height: 100%;
    width: 33%;
}

#third {
    background-color:rgb(110, 202, 201);
    height: 100%;
    width: 33%;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
}

#third:hover {
    background-color: rgb(94, 167, 165);
}

.display-container {
    width: 100%;
    height: calc(100% - 120px);
    overflow: hidden;
    display: flex;
}

.granular {
    background-color:rgb(203, 230, 228);
}

.alldays {
    background-color:rgb(251, 239, 198);
}

.pokenalysis {
    background-color: rgb(241, 218, 212);
}

.project-about {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;    
    flex-wrap: wrap;
}

.about-top {
    display: inline-block;
    width: 100%;
}

.about-top-header {
    display: flex;
    align-items: center;
}

.about-top-header h3 {
    padding: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 10px 0 10px 20px;
    font-size: 20px;
    transition: .2s;
}

.about-top-header h3:hover {
    cursor: pointer;
    user-select: none;
    border-bottom: 2px solid black;

}

.technologies {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.project-about h1 {
    margin: 10px;
    padding:10px;
    font-size: 30px;
}

.project-about p {
    font-size: 16px;
    line-height: 1.25;
    padding: 10px;
    margin: 10px;
}

.project-image-container {
    display: inline-block;
    width: 50%;
    border-radius: 20% 0% 0% 20% / 50% 0% 0% 50%;
    overflow: hidden;
}

.project-image {
    transform: translateX(-200px);
}

.pokenalysis-img {
    width: auto;
    height: 100%;
    /* transform: translateX(-130px); */
    transform: none;
}

.pokenalysis-container {
    border-radius: 10% 0% 0% 10% / 50% 0% 0% 50%; 
}

.alldays-img {
    height: 100%;
    width: auto;
    transform: none;
}

.alldays-container {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    /* border-radius: 0 0 0 0 / 0 0 0 0 ; */
}

.features-title {
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
}

.features-list {
    margin: 10px;
    margin-left: 20px;
}

.feature-item {
    margin: 5px 0 5px 0;
    font-family: 'PT Sans', sans-serif;

}

a.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif; 
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    transition: .3s;
    border: 2px solid black;
    width: 40px;
    text-align: center;
}

.explore:active {
    border: none;
}

.explore:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.explore h2 {
    font-size: 17px;
}

.explore h4 {
    font-size: 17px;
}

.buttons {
    display: flex;
}

.about-page-container {
    display: flex;
    height: calc(100% - 140px);
}

.about-left {
    width: 50%;
    height: 100%;
    background-color: rgb(241, 218, 212);
}

.about-right {
    width: 50%;
    height: 100%;
    background-color:rgb(251, 239, 198);
}

.about-right h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin: 20px 10px 10px 20px;
}

.about-right p {
    margin: 10px 10px 10px 20px;
    line-height: 1.25;
}

.about-header-left {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 60px;
    background-color: #EF7352;
}

.about-header-left h1 {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

.about-header-left h3 {
    padding-top: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 20px 0 20px 10px;;
    font-size: 20px;
    transition: .2s;
}

.about-header-left h3:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.about-header-right {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 60px;
    background-color: #FBDA6C;
}

.technologies {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.tech-icon {
    height: 120px;
    width: 120px;;
    object-fit: scale-down;
    margin-right: 10px;
    margin-left: 10px;
}

.react {
    height: 50px;
    width: 50px;
}

.node {
    height: 80px;
    width: 80px;
}

.javascript {
    height: 60px;
    width: 60px;
}

.html5 {
    height: 80px;
    width: 80px;
    margin: none;
}

.rails {
    height: 65px;
    width: 65px;
}

.postgres {
    height: 85px;
    width: 85px;
}

.teach-icon.webpack {
    margin: none;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.body h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body p {
    line-height: 1.5;
}

.profile {
    border-radius: 100%;
    height: 16vh;
    width: 16vh;
}

.footer {
    background-color: #6CC3C1;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3 {
    padding: none;
    margin: none;
}