@media only screen and (max-width: 600px) {
    .main {
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }
    
    .body {
        margin: 10px 10px 0 10px;
    }

    .header h1 {
        font-size: 4.7vh;
        margin: 20px 0 0 0;
    }

    .header h3 {
        font-size: 20px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0 0 0;
    }

    .info .contact {
        font-size: 2vh;
        margin: 10px 0 10px 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 10px 0;
    }

    .toolbar h2 {
        font-size: 20px;
    }

    .about-page-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-left {
        width: 100%;
    }

    .profile-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile {
        height: 40vw;
        width: 40vw;
        margin: 0 10px 10px 10px;
        border-radius: 2px;
    }

    .profile-summary {
        text-align: center;
        font-size: 17px;
        margin-top: 10px;
        font-style: italic;
    }
    .about-right {
        width: 100%;
    }

    .about-header-right {
        height: 20px;
    }

    .about-header-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-header-left a {
        max-width: 0px;
        overflow: hidden;
    }

    .about-header-left h3 {
        font-size: 17px;
        max-width: 0px;
        overflow: hidden;
    }

    .tabs-container {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .project-tab {
        box-sizing: border-box;
        padding: 5px;
    }

    #first {
        width: 100%;
        clip-path: none;
    }

    #third {
        width: 100%;
        clip-path: none;
    }

    .display-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .project-image-container {
        box-sizing: border-box;
        min-width: 100vw;
        height: 100vw;
        border-radius: 0 0 0 0 / 0 0 0 0;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-image {
        transform: none;
    }

    .project-about {
        width: 100%;
        overflow: hidden;
    }

    .about-top-header {
        display: flex;
        flex-direction: column;
    }

    .about-top-header h1 {
        font-size: 10vw;
        margin: 5px 0 0 0;
    }

    .about-top-header h2 {
        max-height: 0px;
        overflow: hidden;
    }

    .technologies {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .links-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links-container h3 {
        margin: 10px;
        margin-top: 0px;
    }
}